.calendar-wrapper{
    background-color: violet;
}


.calendar{
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.month{
    background-color: yellow;
    text-align: center;
}

.weekday{
   background-color: aqua; 
   text-align: center;
}

.day{
    background-color: rebeccapurple;
    text-align: center;
}