.navbar{
    display: flex;
    background-color: black;
    height: 60px;
    position: relative;
}

.logo{
    font-size: 30px;
    color: white;
    background-color: black;
    width: 50%;
    text-align: center;
}

.tabs{
    display: flex;
    background-color: black;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.single_tab{
    background-color: black;
    color: white;
    width: 100px;
    text-align: center;
    line-height: 60px;
}

.single_tab:hover{
    background-color: teal;
    color: white;
}

.single_tab:active{
    background-color: yellow;
}