.rating{
    border: solid black 1px;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    box-shadow: 
    6px 6px 6px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.5);
}

.left-wrapper{
    float: left;
    text-align: center;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.username{
    padding: 5px;
    margin-bottom: 5px;
    width: 150px;
    background-color: turquoise;
    border: solid black 1px;
    border-radius: 5px;
}

.stars{
    margin-top: 5px;
}

.right-wrapper{
    margin: auto;
    margin-left: 5px;
}

.review-text{
    text-align: left;
}